name: talkjs_flutter
description: Official TalkJS SDK for Flutter
version: 0.17.1
homepage: https://talkjs.com

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

platforms:
  android:
  ios:

dependencies:
  flutter:
    sdk: flutter

  talkjs_flutter_inappwebview: ^6.1.5+3
  crypto: ^3.0.7
  firebase_core: ^4.4.0
  firebase_messaging: ^16.1.1
  flutter_local_notifications: ^20.0.0
  http: "^1.6.0"
  flutter_apns_only: ^1.6.0
  permission_handler: ^12.0.1
  url_launcher: ^6.3.2
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  husky: ^0.1.6
  lint_staged: ^0.5.1

lint_staged:
  "**/*.dart": dart format && dart fix --apply

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  assets:
    - packages/talkjs_flutter/assets/version.txt
    - packages/talkjs_flutter/assets/index.html

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
